<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HaemoLink | Blogs</title>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="font-sans bg-gray-100 dark:bg-gray-900">
    <header>
        <nav class="bg-white border-b border-gray-200 px-4 lg:px-6 py-2.5 dark:bg-gray-800">
            <div class="flex items-center justify-between mx-auto max-w-screen-xl">
                <a href="https://flowbite.com" class="flex items-center">
                    <img src="https://flowbite.com/docs/images/logo.svg" class="mr-3 h-6 sm:h-9" alt="Flowbite Logo" />
                    <span class="text-xl font-semibold whitespace-nowrap dark:text-white">HaemoLink | Connecting Blood</span>
                </a>
            </div>
        </nav>
    </header>
    <div class="bg-blue-700 m-3 rounded-lg p-5 text-white">
        <h1 class="text-2xl font-bold">Showing Nearby Hospitals</h1>
    </div>
    <div class="m-3">
        <h1 class="text-2xl font-bold">Hospitals Name - Apollo</h1>
        <p class="text-gray-700">Hospital Contact Number - 139042340243</p>
        <p class="text-gray-700">Hospital Location - iubeuib</p>
    </div>
</body>
</html>
